* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html,
#root,
.App,
.Box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrap,
.Manger {
  width: 100%;
  height: 100%;
  z-index: 12;
  position: relative;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.wrap .top,
.Manger .top {
  width: 100%;
  height: 40px;
  background-color: #fbafaf;
  line-height: 40px;
  text-indent: 20px;
}

.wrap .content,
.Manger .content {
  flex: 1;
  background-color: #f3e8cb;
  overflow: hidden;
}

.wrap .footer,
.Manger .footer {
  width: 100%;
  height: 50px;
  background-color: #fbafaf;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  display: flex;
}

.wrap .footer a,
.Manger .footer a {
  flex: 1;
  color: #666;
  text-align: center;
  line-height: 50px;
}

.wrap .footer a.active,
.Manger .footer a.active {
  color: #000;
}

.Home,
.Detail,
.Submit,
.Account {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Home .jumbotron,
.Detail .jumbotron,
.Submit .jumbotron,
.Account .jumbotron {
  width: 100%;
  height: auto;
  background-color: #f3e8cb;
  position: relative;
  text-align: center;
  padding: 20px 0;
}

.Home .jumbotron .num,
.Detail .jumbotron .num,
.Submit .jumbotron .num,
.Account .jumbotron .num {
  display: inline-block;
  padding: 0 20px;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
  background-color: #99e1e5;
  border-radius: 10px;
  font-size: 42px;
  text-align: center;
}

.Home .jumbotron .magt,
.Detail .jumbotron .magt,
.Submit .jumbotron .magt,
.Account .jumbotron .magt {
  text-align: center;
  color: #8f8f94;
  margin: 0 0 10px;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.Home .jumbotron .btn,
.Detail .jumbotron .btn,
.Submit .jumbotron .btn,
.Account .jumbotron .btn {
  width: 100%;
  background: #99e1e5;
  color: #000;
}

.Home .jumbotron .btn input,
.Detail .jumbotron .btn input,
.Submit .jumbotron .btn input,
.Account .jumbotron .btn input {
  margin: 0;
  background-color: transparent;
  line-height: 21px;
  width: 100%;
  height: 38px;
  padding: 10px 15px;
  border-radius: 3px;
  outline: 0;
  border: none;
}

.Home .jumbotron .miantell,
.Detail .jumbotron .miantell,
.Submit .jumbotron .miantell,
.Account .jumbotron .miantell {
  overflow: hidden;
  height: 20px;
  position: relative;
  font-size: 14px;
  color: #8f8f94;
  margin-top: 15px;
}

.Home .jumbotron .miantell span,
.Detail .jumbotron .miantell span,
.Submit .jumbotron .miantell span,
.Account .jumbotron .miantell span {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.Home .section,
.Detail .section,
.Submit .section,
.Account .section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.Home .section #home,
.Detail .section #home,
.Submit .section #home,
.Account .section #home {
  width: 100%;
  height: auto;
  position: relative;
  list-style: none;
  background-color: #f2c6b4;
}

.Home .section #home li,
.Detail .section #home li,
.Submit .section #home li,
.Account .section #home li {
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.Home .section #home li span,
.Detail .section #home li span,
.Submit .section #home li span,
.Account .section #home li span {
  color: #71ccd1;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.Home .section #home li p,
.Detail .section #home li p,
.Submit .section #home li p,
.Account .section #home li p {
  font-size: 22px;
  color: #666;
  line-height: 40px;
}

.Detail .title {
  margin: 0 0 15px;
  padding: 20px 15px;
  background-color: #f2c6b4;
}

.Detail .container {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.Detail .container ul {
  width: 100%;
  height: auto;
}

.Detail .container ul li {
  text-align: center;
  padding: 10px 0;
  display: flex;
}

.Detail .container ul li span {
  flex: 1;
}

.Submit {
  text-align: center;
}

.Submit .am-list-body {
  background: #f3e8cb;
}

.Submit .am-list-item {
  background: #f3e8cb;
}

.Submit .btn {
  margin-top: 20px;
}

.Account .jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.Account table {
  width: 100%;
  background-color: transparent;
  border: 1px solid #99e1e5;
  margin-bottom: 24px;
  font-size: 12px;
}

.Account table thead {
  background-color: #d9edf7;
}

.Account table thead th {
  padding: 8px;
}

.Account table tbody {
  text-align: center;
}

.Account table tbody td {
  padding: 8px;
  overflow: hidden;
}

.Manger {
  position: relative;
}

.Manger .add,
.Manger .change {
  position: absolute;
  top: 50px;
  left: 5%;
  z-index: 15;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  background: #99e1e5;
  padding: 10px;
  text-align: center;
}

.Manger .add .btn,
.Manger .change .btn {
  margin-top: 10px;
}

.Manger .add .am-list-item,
.Manger .change .am-list-item {
  background: #99e1e5;
}

.Manger .change {
  height: 110px;
}

.Manger .header {
  background: #fbafaf;
}

.Manger .userList {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #f3e8cb;
  text-align: center;
  padding-top: 15px;
}

.Manger .userList li {
  position: relative;
  overflow: hidden;
  padding: 11px 15px;
  display: flex;
}

.Manger .userList li span {
  flex: 1;
  overflow: hidden;
}

.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.menu {
  background: #000;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
}

div.wrap.active {
  transform: translate3d(50%, 50px, 0);
}
